body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*--Global colors*/
.bg {
  padding-top: 20px;
  padding-bottom: 80px;
  overflow-x: hidden;
}
.bg.dark {
  color: var(--text-primary);
  background-color: var(--body-bg);
}
.bg.light {
  color: var(--text-primary);
  background-color: var(--body-bg);
}
